

.search{
 padding: 20px;

}

h1{
    text-align: center;
    padding: 20px;
}

.text-transform{
    text-transform: capitalize;
}

.pagination {
    display: flex;
    justify-content: center;
  }


.end{
    text-align: end;

}
