

.search{
 padding: 20px;

}

h1{
    text-align: center;
    padding: 20px;
}

h3{
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
  }

.text-transform{
    text-transform: capitalize;
}